{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/sky.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Prediction</h1>
            <span class="subheading">Predict the rating for your movie review</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
   <!-- Page Header -->
   <section class="container-fluid bg" >
    <section class="row justify-content-center">
       <section class="col-12 col-sn-6 col-md-3">
         <form method="POST" class="form-container" action="">
           {{ form.hidden_tag() }}
           <fieldset class="form-group">
                <div>
                    <!-- <label for="MovieNameInput"><h4>Input Movie Name</h4></label> -->
                    {{ form.moviename.label(class="form-control-label") }}
                    {{ form.moviename(class="form-control form-control-lg", id="MovieNameInput", placeholder="Enter Movie Name Here") }}
                </div>

                <div class="form-group">
                    <!-- <label for="MovieReviewInput"><h4>Rating</h4></label> -->
                    {{ form.moviereview.label(class="form-control-label") }}
                    {{ form.moviereview(class="form-control form-control-lg", id="MovieReviewInput", placeholder="Enter movie review in Hindi") }}
                </div>
           </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary btn-block") }}
            </div>
         </form>

       </section>
     </section>
   </section>
  {% endblock %}




