{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Project</h1>
            <span class="subheading">This is what we did.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>For the sentimental Analysis of Hindi Text ,firstly we required a sufficiently
        large dataset of reviews for Hindi Text ,as no dataset is available already 
        for Hindi Text so we had to scrapped it from various websites.
        These are some of the websites:-
        </p>
        <div class="Websites-Names">
         1.<a href="https://www.jagran.com/entertainment/reviews-news-hindi.html">
            Jagran.com
          </a>
          <hr>
         2.<a href="https://navbharattimes.indiatimes.com/movie-masti/movie-review/articlelist/2325387.cms">
            NavBharat Times.com
          </a>
          <hr>
         3.<a href="https://hindi.filmibeat.com/reviews/">
            Filmibeat.com
          </a>
          <hr>
         4.<a href="https://aajtak.intoday.in/film-review.html">
            Aajtak.com
          </a>
        </div>

        <p>The purpose of this project is to a create database for sentiment analysis of Hindi text. 
          There exists a wide variety of databases of English text for sentiment analysis such as
         Amazon product review database, however datasets available for Hindi language are very limited
         or not up to the mark for some specific purposes. In this project we aim to create one of the largest
          Hindi text database for sentiment analysis and natural language processing</p>

        <p>
            These are some of the technology used:
          <ul>ML: Machine Learning</ul>
          <ul>NLP: Natural Language Processing</ul>
          <ul>JSON: Javascript Object Notation.</ul>
          <ul>>CSV: Comma separated value</ul>
          <ul>ULMFIT: Universal Language Model Fine-Tuning</ul>
          <ul>iNLTK: Natural Language Toolkit for Indic Languages</ul>
          <ul>CLTK: Classical Language Toolki</ul>
        </p>
      </div>
    </div>
  </div>
  {% endblock %}

